@model IEnumerable<Freebie.Models.User>
@{
    ViewData["Title"] = "Все пользователи";
}

<a asp-action="Create">Добавить пользователя</a>
<table class="table">
    <tr><td>Имя</td><td>Email</td></tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Name</td>
        <td>@item.Email</td>
        <td>@item.About</td>
        <td>@item.Passoword</td>
    </tr>
    }
</table>
